<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet", href="/stylesheets/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
		<h1 id="title"><%= title %></h1>
		<ul id="messageList">
		</ul>
		<label>
		  <div name="newMessage" id="messageText"></div>
		</label>
		<div id='keyboard'>
			<% keys = ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l'] %>
			<% for (var i = 0; i < keys.length; i++) { %>
			<span class="key" id="<%= keys[i] %>"><img height="100" width="100" src="<%= keyboard[i] %>"><br/><%= keys[i] %></span>
			<% } %>
		</div>
		<script src="javascripts/main.js"></script>
	</body>
</html>