<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet", href="/stylesheets/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
		<h1 id="title"><%= title %></h1>
		<ul id="messageList">
		</ul>
		<label>
		  <input name="newMessage" id="messageText"></input>
		</label>
		<div id='keyboard'>
			<span class='keyboard' id='a'><img height="128" width="128" src="<%= keyboard[0] %>"></span>
			<span class='keyboard' id='s'><img height="128" width="128" src="<%= keyboard[1] %>"></span>
			<span class='keyboard' id='d'><img height="128" width="128" src="<%= keyboard[2] %>"></span>
			<span class='keyboard' id='f'><img height="128" width="128"  src="<%= keyboard[3] %>"></span>
			<span class='keyboard' id='g'><img height="128" width="128" src="<%= keyboard[4] %>"></span>
			<span class='keyboard' id='h'><img height="128" width="128" src="<%= keyboard[5] %>"></span>
			<span class='keyboard' id='j'><img height="128" width="128" src="<%= keyboard[6] %>"></span>
			<span class='keyboard' id='k'><img height="128" width="128" src="<%= keyboard[7] %>"></span>
		</div>
		<script src="javascripts/main.js"></script>
	</body>
</html>